<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Chart Tagihan</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
  <nav th:replace="fragments/fragment :: navbar"></nav>
  <div class="d-flex justify-content-center">
    <div class="m-4">
      <h2>Pilih chart yang sesuai!</h2>
      <div class="d-flex justify-content-center">
        <a th:href="@{/tagihan/chart/default}" class="mx-2 btn btn-primary">Default Chart: Tagihan Bulan Ini</a>
      </div>
      <p></p>
      <div class="row">
        <div class="col-sm-5">
          <a th:href="@{/tagihan/chart/line}" class="mx-2 btn btn-primary">Line Chart: Bulanan</a>
        </div>
        <div class="col-sm-5">
          <a th:href="@{/tagihan/chart/line}" class="mx-2 btn btn-primary">Line Chart: Tahunan</a>
        </div>
      </div>
      <p></p>
      <div class="row">
        <div class="col-sm-5">
          <a th:href="@{/tagihan/chart/}" class="mx-2 btn btn-primary">Bar Chart: Kuantitas Tagihan</a>
        </div>
        <div class="col-sm-5">
          <a th:href="@{/tagihan/chart/}" class="mx-2 btn btn-primary">Bar Chart: Total Tagihan</a>
        </div>
      </div>
    </div>
  </div>
</body>
</html>
