<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Rumah Sehat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
    <div class="card m-4 p-4">
        <div class="card-body">
            <div class="justify-content-center">
                <h2>List Appointment</h2>
                <br>
                <a th:href="@{/pasien/add}" class="btn btn-primary">Tambah Appointment</a>
                <a class="btn btn-primary" href="/">Beranda</a>
                <br><br>
                <div th:if="*{role == 'admin'}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style='text-align:center; vertical-align:middle'>No</th>
                            <th style='text-align:center; vertical-align:middle'>Nama Dokter</th>
                            <th style='text-align:center; vertical-align:middle'>Nama Pasien</th>
                            <th style='text-align:center; vertical-align:middle'>Waktu Awal</th>
                            <th style='text-align:center; vertical-align:middle'>Status</th>
                            <th style='text-align:center; vertical-align:middle'>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="appointment, iterationStatus : ${listAppointment}"
                            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                            <td th:text="${iterationStatus.count}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointment.dokter.nama}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointment.pasien.nama}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointment.waktuAwal}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointment.isDone}" style='text-align:center; vertical-align:middle'></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/appointment/details/} + ${appointment.kode}">Detail Appointment</a>
                            </td>

                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="*{role == 'dokter'}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style='text-align:center; vertical-align:middle'>No</th>
                            <th style='text-align:center; vertical-align:middle'>Nama Dokter</th>
                            <th style='text-align:center; vertical-align:middle'>Nama Pasien</th>
                            <th style='text-align:center; vertical-align:middle'>Waktu Awal</th>
                            <th style='text-align:center; vertical-align:middle'>Status</th>
                            <th style='text-align:center; vertical-align:middle'>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="appointmentDokter, iterationStatus : ${listAppointmentDokter}"
                            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                            <td th:text="${iterationStatus.count}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointmentDokter.dokter.nama}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointmentDokter.pasien.nama}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${#temporals.format(appointmentDokter.waktuAwal, 'dd MMMM yyyy HH:mm')}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointmentDokter.isDone}" style='text-align:center; vertical-align:middle'></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/appointment/details/} + ${appointmentDokter.kode}">Detail Appointment</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:if="*{role == 'pasien'}">
                    <table class="table">
                        <thead>
                        <tr>
                            <th style='text-align:center; vertical-align:middle'>No</th>
                            <th style='text-align:center; vertical-align:middle'>Nama Dokter</th>
                            <th style='text-align:center; vertical-align:middle'>Nama Pasien</th>
                            <th style='text-align:center; vertical-align:middle'>Waktu Awal</th>
                            <th style='text-align:center; vertical-align:middle'>Status</th>
                            <th style='text-align:center; vertical-align:middle'>Detail</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr th:each="appointmentPasien, iterationStatus : ${listAppointmentPasien}"
                            th:style="${iterationStatus.even} ? 'font-weight:bold;'">
                            <td th:text="${iterationStatus.count}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointmentPasien.dokter.nama}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointmentPasien.pasien.nama}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointmentPasien.waktuAwal}" style='text-align:center; vertical-align:middle'></td>
                            <td th:text="${appointmentPasien.isDone}" style='text-align:center; vertical-align:middle'></td>
                            <td>
                                <a class="btn btn-primary" th:href="@{/appointment/details/} + ${appointmentPasien.kode}">Detail Appointment</a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <div th:unless="*{listAppointment.size() != 0}">
                    <h2 th:text="'Belum terdapat appointment yang terdaftar'"></h2>
                </div>
            </div>
        </div>
    </div>
</div>

</body>
</html>