<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Rumah Sehat</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container">
  <div class="card m-4 p-4">
    <div class="card-body">
      <div class="justify-content-center">
        <h2>Daftar Obat</h2>
        <br>
        <a class="btn btn-primary" href="/">Beranda</a>
        <br><br>
        <div th:if="*{listObat.size() != 0}">
          <table class="table">
            <thead>
            <tr>
              <th style='text-align:center; vertical-align:middle'>No</th>
              <th style='text-align:center; vertical-align:middle'>Id</th>
              <th style='text-align:center; vertical-align:middle'>Nama</th>
              <th style='text-align:center; vertical-align:middle'>Harga</th>
              <th style='text-align:center; vertical-align:middle'>Stok</th>
              <th style='text-align:center; vertical-align:middle'></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="obat, iterationStatus : ${listObat}"
                th:style="${iterationStatus.even} ? 'font-weight:bold;'">
              <td th:text="${iterationStatus.count}" style='text-align:center; vertical-align:middle'></td>
              <td th:text="${obat.id}" style='text-align:center; vertical-align:middle'></td>
              <td th:text="${obat.nama}" style='text-align:center; vertical-align:middle'></td>
              <td th:text="${obat.harga}" style='text-align:center; vertical-align:middle'></td>
              <td th:text="${obat.stok}" style='text-align:center; vertical-align:middle'></td>
              <td>
<!--                <a th:if="${role.equals('Apoteker')}">-->
                <a th:href="@{/obat/ubah-stok}" class="btn btn-primary">Ubah Stock</a>
              </td>
            </tr>
            </tbody>
          </table>
        </div>
        <div th:unless="*{listObat.size() != 0}">
          <h2 th:text="'Belum terdapat data obat.'"></h2>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
