<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Beranda</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
  <nav th:replace="fragments/fragment :: navbar"></nav>
  <div class="d-flex justify-content-center">
    <div class="m-4">
      <div class="d-flex justify-content-center">
        <h2 th:text="'Hello '+${#httpServletRequest.remoteUser}+'!'">Login as</h2>
      </div>
      <h2>Selamat datang di Rumah Sehat!</h2>
      <div class="d-flex justify-content-center">
        <a th:if="${user.getRole() == 'admin'}" th:href="@{/user/viewall}" class="mx-2 btn btn-primary">Manajemen User</a>
      </div>
      <p></p>
      <div class="d-flex justify-content-center">
        <a th:if="${user.getRole() == 'admin' || user.getRole() == 'apoteker'}" th:href="@{/obat/viewall}" class="mx-2 btn btn-primary">Data Obat</a>
      </div>
      <p></p>
      <div class="d-flex justify-content-center">
        <a th:if="${user.getRole() == 'admin' || user.getRole() == 'apoteker'}" th:href="@{/resep/viewall}" class="mx-2 btn btn-primary">List Resep</a>
      </div>
      <p></p>
      <div class="d-flex justify-content-center">
        <a th:if="${user.getRole() == 'admin' || user.getRole() == 'dokter'}" th:href="@{/appointment/viewall}" class="mx-2 btn btn-primary">List Appointment</a>
      </div>
      <p></p>
      <div class="d-flex justify-content-center">
        <a th:if="${user.getRole() == 'admin' || user.getRole() == 'pasien'}" th:href="@{/appointment/add}" class="mx-2 btn btn-primary">Buat Appointment</a>
      </div>
    </div>
  </div>
</body>
</html>
