<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>Beranda</title>
  <object th:include="fragments/fragment :: css" th:remove="tag"></object>
  <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
  <nav th:replace="fragments/fragment :: navbar"></nav>
  <div class="d-flex justify-content-center">
    <h2 th:text="'Hello '+${#httpServletRequest.remoteUser}+'!'">Login as</h2>
  </div>
  <h2 style="text-align: center">Welcome to Rumah Sehat</h2>
</body>
</html>